body {
    background-color: #354F52;
}

.cuartoDos,
.cuartoCuatro {
    background-color: white;
}
.cuartoUno,
.footer {
    color: white;
}
a {
    color: white;
}
a:hover{
    color: #CAD2C5;
}
.header{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 24px;
    margin-inline: 100px;
}
ul{
    list-style-type: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 24px;
}

/* Trabajaremos en el cuarto N1 ------------------------------------------- */
.cuartoUno{
    padding: 100px;
    display: flex;
    justify-content: space-between;
    
}
.text{
    margin-right: 50px;
}
.cuartoUno img{
    height: auto;
    width: 450px;
}
.text h1{
    font-size: 48px;
    font-weight: bold;
}
.text p{
    font-size: 22px;
}
.button1{
    border: 3px solid #a3b18a;
    font-size: 15px;
    font-weight: bold;
    background-color: #354F52;
    color: white;
    padding: 8px 32px;
    text-align: center;
    border-radius: 8px;
}
.button1:hover{
    background-color: #84A98C;
}

/* Voy a trabajar en el cuarto N2 ------------------------------------------- */
.cuartoDos{
    padding: 100px;
}
.cuartoDos h1{
    margin-bottom: 90px;
    text-align: center;
}
.cuartoDos-container{
    margin: 0px;
    display: flex;
    justify-content: space-between;
}
div.gallery {
    border-radius: 20px;
    margin: 5px;
    float: left;
    width: 350px;
  }
  
  div.gallery img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-size: 22px;
  }

.cuartoDos h1{
    color: #344e41;
}

/* Voy a trabajar en el cuarto N3 --------------------------------------------  */
.cuartoTres {
    background-color: #a3b18a;
    padding: 100px;
}
.textoitalic {
    font-size: 24px;
    text-align: center;
    font-style: light italic;
}
.quote {
    text-align: end;
    margin-right: 100px;
}

/* Voy a trabajar en el cuarto N4 ------------------------------------------- */
.cuartoCuatro {
    padding: 100px;
}
.smallbox {
    height: 20px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
    background-color: #a3b18a;
}
.calltext{
    font-size: 20px;
    font-weight: bold;
}
.button2 {
    border: 3px solid #344e41;
    background-color: #a3b18a;
    color: black;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 32px;
    text-align: center;
    border-radius: 8px;
}
.button2:hover{
    background-color: #dad7cd;
}

.footer{
    padding: 15px;
    text-align: center;
    font-size: 16px;
}

